@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

:root {
	--black: #444444;
	--green: #53C265;
	--red: #C25353;
	--white: #FFFFFF;
	--gray: #E7E7E7;

	--border-radius: 1rem;
	font-family: 'Inter', Arial, Helvetica, sans-serif;
	color: #444444;

}

* {
	margin: 0;
	padding: 0;
}

body {
	padding: 1rem;
	display: grid;
	justify-content: center;
}

/* HEADER */
header {
	text-align: center;
	display: grid;
	justify-items: center;
	gap: 1rem;
	padding: 2rem 0;
}

header>h1 {
	font-size: 3rem;
	font-weight: 900;
}

/* HEADER & FORM */
header>button,
form>button {
	background-color: var(--green);
	color: var(--white);

	font-weight: 700;
	font-size: 1rem;

	border: 0;
	border-radius: var(--border-radius);
	padding: 0.5rem 1rem;

	display: grid;
	grid-template-columns: auto auto;
	align-items: center;
	gap: 0.5rem;

	transition: 0.2s ease-in-out;
}

header>button:hover,
form>button:hover {
	transform: scale(1.05);
}

header>button>img,
form>button>img {
	width: 2rem;
}

/* GUIDE */
section>.guide {
	display: grid;
	grid-template-columns: auto auto;
	place-content: center;
	gap: 1rem;
}

section>.guide>p {
	padding: 0 1rem;
}

section>.guide>p:first-child {
	border-top: 0.5rem solid var(--green);
}

section>.guide>p:last-child {
	border-top: 0.5rem solid var(--red);
}

/* FORM */
.hidden {
	display: none;
}

form {
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	padding: 1rem;

	border-radius: var(--border-radius);
	background-color: var(--gray);
	display: grid;
	place-content: center;
	width: 80vw;
	max-width: 20rem;
	text-align: center;
	gap: 1rem;
}

form>div:not(:last-of-type) {
	display: grid;
	gap: 0.25rem;
}

form>div:not(:last-of-type)>label {
	font-weight: 700;
	font-size: 1rem;
}

form>div>input:not([type="checkbox"]) {
	font-family: var();
	font-size: 1.15rem;
	color: var(--black);
	text-align: center;

	border-radius: var(--border-radius);
	border: 0;
	width: 70vw;
	max-width: 17rem;
	padding: 0.85rem 1rem;
}



/* MAIN */
main {
	background-color: var(--gray);
	width: 90vw;
	padding: 0.5rem;
	border-radius: var(--border-radius);

	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

article {
	border: 0.35rem solid var(--green);
	border-radius: calc(var(--border-radius)/2);
	padding: 1rem;

	display: grid;
	gap: 0.5rem;
	text-align: center;
}

.read>input[type="checkbox"] {
	width: 1.5rem;
	height: 1.5rem;
	accent-color: var(--green);
}